<h1>Museums in D.C.</h1>

<!-- moved search form to navbar -->
<!-- <%= form_tag(museums_path, method: :get) do %>
    <%= text_field_tag :term, params[:term] %>
    <%= submit_tag 'Search museums by name', name: nil %>
<% end %> -->

<body>
<div class="row">
    <% @museums.sort_by(&:name).each do |museum| %>
        <div class="card border-info text-center m-2" style="width: 28rem;">
            <div class="view overlay">
                <div class="col-sm">
                    <div class="card-header">
                        <h6 align="center">
                            <%= link_to museum.name, museum_path(museum) %> 
                        </h6>
                    </div>
                </div>
                    <img src="https://www.fieldmuseum.org/sites/default/files/styles/3x2_1400w/public/2018_03_06_fieldmuseum_lhewett-01.jpg" class="img-fluid" alt="">      
                                
                    <!-- <a href="#" class="btn btn-success btn-sm">Add to Wishlist</a> -->
                    <% if current_user %>
                        <%= form_for current_user.visits.build do |f| %>
                            <%= f.hidden_field :user_id, :value => current_user.id %>
                            <%= f.hidden_field :museum_id, :value => museum.id %>
                            <%= f.submit :"Add to Wishlist", class: "btn btn-success btn-sm"%>
                        <% end %>
                    <% end %>
                    
                     <br>

                        <!-- <a href="#" class="btn btn-success btn-sm">You've Visited Before</a> -->
                    <% if current_user %>
                        <%= form_for current_user.visits.build do |f| %>
                            <%= f.hidden_field :user_id, :value => current_user.id %>
                            <%= f.hidden_field :museum_id, :value => museum.id %>
                            <%= f.hidden_field :visited, value: true %>
                            <%= f.submit :"Add to Visited", class: "btn btn-success btn-sm" %>
                        <% end %>
                    <% end %>
            </div>
        </div>
    <% end %>
    
</div>

</body>