<h1> <%= @museum.name %> </h1>

<h4> <%= @museum.address %> </h4>

<!-- museum address -->

<!-- button/form for user to add museum to their visit list -->
<div>
</div>

<!-- buttom/form for user to note that they've been to that museum -->

<!-- map!!!!!!!!!!!!!! -->

<!-- count and list of people who have visited -->

<!-- count and list of people who want to visit -->

<!-- show comments -->
<% @museum.comments.each do |comment| %>
    <li> <%= comment.user.username %> says: <%= comment.content %></li>
<% end %>

<!-- build form for users to create comments -->
<%= form_for @museum do |f| %>
    <%= f.label :content %><br>
    <%= f.text_area :content %><br>

    <%= f.label :user %><br>
        <%= f.collection_select :user_id, User.all, :id, :username, 
        :include_blank => true %>
        <br>
    <%= f.hidden_field :museum_id, :value => @museum.id %>
    <%= f.submit "Create your comment" %>
<% end %>

<!-- link to return to museum index -->
<%= link_to "Return to the list of all museums in D.C.", museums_path %>
