<h1> <%= @museum.name %> </h1>

<h4> <%= @museum.address %> </h4>

<!-- museum address -->

<!-- button/form for user to add museum to their visit list -->
<div> 
    <% if current_user %>
    <%= form_for @museum.visits.build do |f| %>
        <%= f.hidden_field :museum_id, :value => @museum.id %>
        <%= f.hidden_field :user_id, :value => current_user.id %>
        <%= f.submit "Add this museum to your wishlist" %>
    <% end %>
        <br>
    <% end %>
</div>

<!-- buttom/form for user to note that they've been to that museum -->
<div>
    <% if current_user %>
    <%= form_for @museum.visits.build do |f| %>
        <%= f.hidden_field :museum_id, :value => @museum.id %>
        <%= f.hidden_field :user_id, :value => current_user.id %>
        <%= f.hidden_field :visited, value: true %>
        <%= f.submit "I've been to this museum" %>
    <% end %>
    <% end %>
</div>

<!-- map!!!!!!!!!!!!!! -->

<!-- count and list of people who have visited -->

<!-- count and list of people who want to visit -->

<!-- show comments -->

<div>
<% @museum.comments.each do |comment| %>
        <% if comment.user %>
        <%= comment.user.username %> says: <br> <%= comment.content %> <br>
            <% if comment.user == current_user %>
                <%= link_to "Edit comment", edit_comment_path(comment) %>
            <% end %>
        <% end %>  
<% end %>
</div>

<br>
<br>
<br>

<!-- build form for users to create comments -->
<div>
Have thoughts or questions about <%= @museum.name %>? Add a comment: 
<br>
    <%= form_for @museum.comments.build do |f| %>
        <%= f.text_area :content %><br>

        <% if current_user %>
            <%= f.label "You're posting this comment as: #{current_username}"%><br>
            <%= f.hidden_field :user_id, :value => current_user.id %>            
            <%= f.hidden_field :museum_id, :value => @museum.id %>
        <% else %>
            <%= link_to "Please login to create a comment", login_path %> <br>  
        <% end %>
            
        <%= f.submit "Create your comment" %>
    <% end %>
</div>

<!-- link to return to museum index -->

<%= link_to "Return to the list of all museums in D.C.", museums_path %>
