



<div class="card m-6" style="width: 20rem;">

    <!--Card image-->
    <div class="view overlay">
      <img src="https://www.fieldmuseum.org/sites/default/files/styles/3x2_1400w/public/2018_03_06_fieldmuseum_lhewett-01.jpg" class="img-fluid" alt="">
      <a href="#">
        <div class="mask rgba-black-slight"></div>
      </a>
    </div>    <div class="card-body">

<h2 class="card-title"> <%= @museum.name %> </h2>

<h6 class="card-text"> <%= @museum.address %> </h6>
<br>

<!-- museum address -->

<!-- button/form for user to add museum to their visit list -->

    <% if current_user %>
    <%= form_for @museum.visits.build do |f| %>
        <%= f.hidden_field :museum_id, :value => @museum.id %>
        <%= f.hidden_field :user_id, :value => current_user.id %>
        <%= f.submit :"Add to wishlist", class: "btn btn-primary"%>
    <% end %>
    <br>
    <% end %>



<!-- buttom/form for user to note that they've been to that museum -->

    <% if current_user %>
    <%= form_for @museum.visits.build do |f| %>
        <%= f.hidden_field :museum_id, :value => @museum.id %>
        <%= f.hidden_field :user_id, :value => current_user.id %>
        <%= f.hidden_field :visited, value: true %>
        <%= f.submit :"I've visited this museum", class: "btn btn-primary" %>
    <% end %>
    <% end %>


</div>
</div>
<!-- map!!!!!!!!!!!!!! -->

<!-- count and list of people who have visited -->

<!-- count and list of people who want to visit -->

<br>
<br>
<br>
<!-- show comments -->

<div>
    <% @museum.comments.each do |comment| %>
            <% if comment.user %>
            <%= comment.user.username %> says: <br> <%= comment.content %> <br>
                <% if comment.user.id == @current_user.id %>
                    <%= link_to "Edit comment", edit_comment_path(comment) %>
                <% end %>
                <br>
            <% end %>  
    <% end %>
</div>

<br>
<br>
<br>

<!-- build form for users to create comments -->
<div>
    Have thoughts or questions about <%= @museum.name %>? Add a comment: 
<br>
    <%= form_for @museum.comments.build do |f| %>
        <%= f.text_area :content %><br>

        <% if current_user %>
            <%= f.label "You're posting this comment as: #{current_username}"%><br>
            <%= f.hidden_field :user_id, :value => current_user.id %>            
            <%= f.hidden_field :museum_id, :value => @museum.id %>
        <% else %>
            <%= link_to "Please login to create a comment", login_path %> <br>  
        <% end %>
            
        <%= f.submit "Create your comment" %>
    <% end %>
</div>

<!-- link to return to museum index -->
<%= link_to "Return to the list of all museums in D.C.", museums_path %>
